body {
  margin-left: 2%;
  margin-right: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: center;
}

thead {
  background-color: #f2f2f2;
  text-align: center;
}

tr {
  text-align: center;
}

td.column2 {
  padding-top: 10%;
}

td.column3 {
  padding-top: 10%;
}

td.column4 {
  padding-top: 10%;
}

.buttonAdd {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: none;
  margin: 3%;
  cursor: pointer;
}

.add {
  border: none;
  cursor: pointer;
  margin-left: 12%;
  margin-right: 12%;
}
